In [4]:
import pandas as pd
df = pd.read_csv('movies.csv')
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
df[df['title'].str.contains('Toy Story')]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2355,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy
7355,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX

In [8]:
genres = df['genres'].str.get_dummies()
genres.head()

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [9]:
df_movies = pd.concat([df, genres], axis=1)
df_movies.head()

,movieId,title,genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled_genres = scaler.fit_transform(genres)
scaled_genres

array([[-0.05917995, -0.48060698,  2.59101927, ..., -0.49125897,
        -0.20201972, -0.13206534],
       [-0.05917995, -0.48060698,  2.59101927, ..., -0.49125897,
        -0.20201972, -0.13206534],
       [-0.05917995, -0.48060698, -0.3859485 , ..., -0.49125897,
        -0.20201972, -0.13206534],
       ...,
       [-0.05917995, -0.48060698, -0.3859485 , ..., -0.49125897,
        -0.20201972, -0.13206534],
       [-0.05917995,  2.0807022 , -0.3859485 , ..., -0.49125897,
        -0.20201972, -0.13206534],
       [-0.05917995, -0.48060698, -0.3859485 , ..., -0.49125897,
        -0.20201972, -0.13206534]])

In [12]:
dft = pd.DataFrame(scaled_genres)
dft.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,-0.05918,-0.480607,2.591019,3.865793,3.697524,1.262425,-0.374632,-0.217489,-0.900247,3.392017,-0.094926,-0.334055,-0.128397,-0.188419,-0.249986,-0.442633,-0.334435,-0.491259,-0.20202,-0.132065
1,-0.05918,-0.480607,2.591019,-0.258679,3.697524,-0.792126,-0.374632,-0.217489,-0.900247,3.392017,-0.094926,-0.334055,-0.128397,-0.188419,-0.249986,-0.442633,-0.334435,-0.491259,-0.20202,-0.132065
2,-0.05918,-0.480607,-0.385949,-0.258679,-0.270451,1.262425,-0.374632,-0.217489,-0.900247,-0.294810,-0.094926,-0.334055,-0.128397,-0.188419,-0.249986,2.259206,-0.334435,-0.491259,-0.20202,-0.132065
3,-0.05918,-0.480607,-0.385949,-0.258679,-0.270451,1.262425,-0.374632,-0.217489,1.110807,-0.294810,-0.094926,-0.334055,-0.128397,-0.188419,-0.249986,2.259206,-0.334435,-0.491259,-0.20202,-0.132065
4,-0.05918,-0.480607,-0.385949,-0.258679,-0.270451,1.262425,-0.374632,-0.217489,-0.900247,-0.294810,-0.094926,-0.334055,-0.128397,-0.188419,-0.249986,-0.442633,-0.334435,-0.491259,-0.20202,-0.132065

In [13]:
genres.sum()

(no genres listed)      34
Action                1828
Adventure             1263
Animation              611
Children               664
Comedy                3756
Crime                 1199
Documentary            440
Drama                 4361
Fantasy                779
Film-Noir               87
Horror                 978
IMAX                   158
Musical                334
Mystery                573
Romance               1596
Sci-Fi                 980
Thriller              1894
War                    382
Western                167
dtype: int64

In [14]:
from sklearn.cluster import KMeans
model = KMeans (n_clusters = 3)
model.fit (scaled_genres)

KMeans(n_clusters=3)

In [22]:
model.labels_

array([0, 0, 1, ..., 1, 0, 1])

In [16]:
model.cluster_centers_

array([[-0.05917995,  0.34053036,  1.27669496,  1.58800327,  1.7692492 ,
         0.06847745, -0.32714452, -0.20622092, -0.62886433,  1.10859989,
        -0.09492563, -0.26916495,  0.55088607,  0.24883967, -0.13395114,
        -0.28246203,  0.51356004, -0.43212842, -0.1738885 , -0.08999941],
       [ 0.03742378, -0.21237336, -0.20737034, -0.24140171, -0.2684566 ,
         0.21208381, -0.12879215,  0.13430688,  0.20367598, -0.1823765 ,
        -0.08958239, -0.32290382, -0.10982565,  0.02061811, -0.18375496,
         0.20068312, -0.22970684, -0.4777102 ,  0.08804104,  0.04478759],
       [-0.05917995,  0.33342066, -0.16016724, -0.23881813, -0.26726665,
        -0.54313976,  0.47673788, -0.21555709, -0.16425931, -0.13354821,
         0.26337173,  0.91178149, -0.02038382, -0.17739218,  0.50897872,
        -0.33529716,  0.28591751,  1.36635759, -0.12139001, -0.06096031]])

In [32]:
df_movies[model.labels_ == 0].head(15)

,movieId,title,genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7,8,Tom and Huck (1995),Adventure|Children,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
12,13,Balto (1995),Adventure|Animation|Children,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
26,27,Now and Then (1995),Children|Drama,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi,0,0,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
32,34,Babe (1995),Children|Drama,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34,38,It Takes Two (1995),Children|Comedy,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
40,44,Mortal Kombat (1995),Action|Adventure|Fantasy,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,48,Pocahontas (1995),Animation|Children|Drama|Musical|Romance,0,0,0,1,1,0,0,...,0,0,0,1,0,1,0,0,0,0
49,54,"Big Green, The (1995)",Children|Comedy,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
53,60,"Indian in the Cupboard, The (1995)",Adventure|Children|Fantasy,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
72,80,"White Balloon, The (Badkonake sefid) (1995)",Children|Drama,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
78,87,Dunston Checks In (1996),Children|Comedy,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
95,107,Muppet Treasure Island (1996),Adventure|Children|Comedy|Musical,0,0,1,0,1,1,0,...,0,0,0,1,0,0,0,0,0,0

In [33]:
from sklearn.cluster import KMeans
model = KMeans (n_clusters = 20)
model.fit (scaled_genres)

KMeans(n_clusters=20)

In [34]:
model.labels_

array([ 3, 12,  8, ..., 10,  3,  0])

In [47]:
#Fábio Henrique Moreira
#T194 - Indústria 4.0

df_movies[model.labels_ == 0].head() #Primeiro dos clusters do total de 20

,movieId,title,genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
4,5,Father of the Bride Part II (1995),Comedy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
17,18,Four Rooms (1995),Comedy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
18,19,Ace Ventura: When Nature Calls (1995),Comedy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
58,65,Bio-Dome (1996),Comedy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
61,69,Friday (1995),Comedy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0